.inv{
    /* border: 1px solid orangered; */
    padding: 20px 200px;
    /* background-color: rgba(225, 218, 210, 0.413); */
}

.inv-box{
    border-radius: 6px;
    /* border: 1px solid rebeccapurple; */
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 300px;
    box-shadow: -17px -14px 0px 0px rgb(237 237 252);
    background-color: rgb(251 248 252);
    /* text-align: center; */
}

.inv-heading{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    /* border: 1px solid red; */
    color:rgb(51, 116, 201);
    margin: 5px 105px;
}

.inv-start{
    font-size: 13px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    display: inline;
    color:rgb(110, 124, 143);
    margin: 5px 10px;
}
.inv-present-val{
    margin: 15px 69px;
    font-size: 30px;
    font-weight: 700;
    color:rgb(23, 106, 214);
}