.inv{
    /* border: 1px solid orangered; */
    padding: 20px 200px;
    /* background-color: rgba(225, 218, 210, 0.413); */
}

.inv-box{
    border-radius: 6px;
    /* border: 1px solid rebeccapurple; */
    /* display: inline-block; */
    margin: 15px;
    padding: 5px;
    /* width: 300px; */
    height: 60px;
    /* box-shadow: -17px -14px 0px 0px rgb(237 237 252); */
    background-color: rgb(185, 201, 46);
    /* text-align: center; */
}

.inv-heading{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    /* border: 1px solid red; */
    color:rgb(51, 116, 201);
    /* margin: 20px 28px; */
    /* position: absolute; */
}

.inv-present-val{
    /* margin: 20px 169px; */
    font-size: 20px;
    font-weight: 700;
    color:rgb(23, 106, 214);
    float: right;
}
.inv-items{
    margin:23px 164px;
    /* border: 1px solid white; */
}

.add-inv{
    display: inline;
    float: right;
    margin: -25px 70px;
}

.add-inv-btn{
    padding: 5px;
    width:130px;
    border-radius: 4px;
    border: 1px solid black;
    cursor: pointer;
    background-color: transparent;
    height: 35px;
    font-weight: 700;
    font-family: 'Courier New', Courier, monospace;
}
.add-inv-btn:hover{
    background-color: rgb(84, 181, 148);
    color:white;
}
.inv-btn{
    width:120px;
    height: 25px;
    background-color: #fbf8fc;
    /* border:1px solid grey; */
    border: none;
    border-radius: 5px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 700;
    color: rgb(185, 201, 46);
    cursor: pointer;
}
.inv-btn:hover{
    background-color: rgb(185, 201, 46);
    color:#fbf8fc;
}
.inv-btn-holder{
    /* display: inline; */
    margin: 0px 122px;
    /* background-color:white; */
}