.inv{
    /* border: 1px solid orangered; */
    padding: 20px 200px;
    /* background-color: rgba(225, 218, 210, 0.413); */
}

.inv-box{
    border: 1px solid rebeccapurple;
    display: inline-block;
    margin: 10px;
    padding: 5px;
    width: 300px;
    height: 300px;
    /* text-align: center; */
}

.inv-heading{
    font-size: 25px;
    font-weight: 800;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    /* border: 1px solid red; */
    color:rgb(51, 116, 201);
    margin: 5px 105px;
}

.inv-start{
    font-size: 13px;
    font-weight: 900;
    font-family: 'Courier New', Courier, monospace;
    display: inline-block;
    color:rgb(110, 124, 143);
    margin: 5px 10px;
}